#image-grid {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

#image-grid .polaroid {
    position: relative;
    display: block;
    margin: 20px;
    background-color: rgb(247, 239, 225);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.336);
}

#image-grid .image-thumb {
    height: 220px;
    width: 240px;
    margin: 10px;

    background-size: contain;
    background-repeat: no-repeat;
}

#image-grid .image-controls {
    display: flex;
    inline-size: 0;
    position: absolute;
    width: fit-content;
    bottom: 0;
    right: 0;
    padding: 10px;
}